html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #0d0f1e, #792a42);
}

p, h1, h2, h3, h4, th, tr{
    color: white;
}

thead > tr {
    background-color: #000000
}

tr {
    background-color: #14101f;
}

tr:nth-child(even) {
    background-color: #5d2339;
}

strong, a {
    color: white;
}

a:hover{
    color:dimgrey;
}

.mycustomul {
    border: 1px solid white;
}

.mycustomli{
    border-bottom: 1px solid white;
}

.dogimage {
    border-radius: 10%;
}

.mycustomlable{
    color: white;
}