@model SchroniskoWebowka.Models.UpdatePiesViewModel
@{
}
<form method="post" action="Edit" id="editForm">
    <div class="mb-3">
        <label for="" class="form-label">Identyfikator</label>
        <input type="text" class="form-control" asp-for="PiesId" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nazwa</label>
        <input type="text" class="form-control" asp-for="PiesNazwa">
    </div>
    @Html.DropDownList("RasaId", ViewBag.Rasa as SelectList, null, new { @value = Model.RasaId })
    @Html.DropDownList("WiekId", ViewBag.Wiek as SelectList, null, new { @value = Model.WiekId })
    @Html.DropDownList("CharakterId", ViewBag.Charakter as SelectList, null, new { @value = Model.CharakterId })
    @Html.DropDownList("StrefaId", ViewBag.Strefa as SelectList, null, new { @value = Model.StrefaId })
    <div class="mb-3">
        <label for="" class="form-label">Data przygarnięcia</label>
        <input type="date" class="form-control" asp-for="PiesDataUrodzenia">
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" id="PiesCzySuka" asp-for="PiesCzySuka">
        <label class="form-check-label" for="PiesCzySuka">Czy pies jest suką?</label>
    </div>

    <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" id="PiesCzyDostepny" asp-for="PiesCzyDostepny">
        <label class="form-check-label" for="PiesCzyDostepny">Czy pies jest dostępny?</label>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Kolor i wzór sierści</label>
        <textarea class="form-control" asp-for="PiesKolorWzorSiersci"></textarea>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Opis</label>
        <textarea class="form-control" asp-for="PiesOpis"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" onclick="return confirm('Czy na pewno chcesz edytowac?');">Edytuj</button>
    <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć?');" asp-action="Delete" asp-controller="Psy">Usuń</button>

</form>