@model SchroniskoWebowka.Models.ZdjeciePsaViewModel
@{
}
 <form enctype="multipart/form-data" method="post">
        <dl>
            <dt style="color: white">
                <label asp-for="ImageData">Przesył zdjęcia (max. 2MB)</label>
            </dt>
            <dd style="color: white">
                <input asp-for="ImageData" type="file">
            </dd>
        </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" style="color: white; background-color: #212529">
</form>