@model SchroniskoWebowka.Models.AddHistoriaAdopcjiViewModel
@{
    var piesRasy = ViewBag.PiesRasy as SelectList;
    var adoptujacy = ViewBag.Adoptujacy as SelectList;
}

<form method="post" action="Add">
    <div class="mb-3">
        <label for="PiesId" class="form-label">Wybierz psa do adopcji</label>
        <select id="PiesId" class="form-select" asp-for="PiesId" asp-items="piesRasy">
            <option value="">Wybierz psa do adopcji</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="AdoptujacyId" class="form-label">Wybierz nowego właściciela</label>
        <select id="AdoptujacyId" class="form-select" asp-for="AdoptujacyId" asp-items="adoptujacy">
            <option value="">Wybierz nowego właściciela</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="HistoriaAdopcjiData" class="form-label">Data dokonania adopcji</label>
        <input type="date" id="HistoriaAdopcjiData" class="form-control" asp-for="HistoriaAdopicjiData">
    </div>

    <div class="mb-3">
        <label for="HistoriaAdopcjiOplata" class="form-label">Opłata</label>
        <input type="text" id="HistoriaAdopcjiOplata" class="form-control" asp-for="HistoriaAdopicjiOplata">
    </div>

    <script>
        var dzisiaj = new Date();
        var dzisiajFormatted = dzisiaj.toISOString().slice(0, 10);

        document.getElementById("HistoriaAdopcjiData").value = dzisiajFormatted;
    </script>

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
