@model SchroniskoWebowka.Models.UpdateHistoriaAdopcjiViewModel
@{
    var piesRasy = ViewBag.PiesRasy as SelectList;
    var adoptujacy = ViewBag.Adoptujacy as SelectList;
    var statusAdopcji = ViewBag.StatusAdopcji as SelectList;
}

<div class="container mt-5">
    <form method="post" action="Add">
        <div class="mb-3">
            <label for="HistoriaAdopicjiId" class="form-label">Identyfikator</label>
            <input type="text" id="HistoriaAdopicjiId" class="form-control" asp-for="HistoriaAdopicjiId" readonly>
        </div>

        <div class="mb-3">
            <label for="PiesId" class="form-label">Pies do adopcji</label>
            <select id="PiesId" class="form-select" asp-for="PiesId" asp-items="piesRasy" disabled>
                <option value="">Wybierz psa do adopcji</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="AdoptujacyId" class="form-label">Nowy właściciel</label>
            <select id="AdoptujacyId" class="form-select" asp-for="AdoptujacyId" asp-items="adoptujacy" disabled>
                <option value="">Wybierz nowego właściciela</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="HistoriaAdopicjiData" class="form-label">Data dokonania adopcji</label>
            <input type="date" id="HistoriaAdopicjiData" class="form-control" asp-for="HistoriaAdopicjiData">
        </div>

        <div class="mb-3">
            <label for="HistoriaAdopicjiOplata" class="form-label">Opłata</label>
            <input type="text" id="HistoriaAdopicjiOplata" class="form-control" asp-for="HistoriaAdopicjiOplata">
        </div>

        <div class="mb-3">
            <label for="StatusAdopcjiId" class="form-label">Status adopcji</label>
            @Html.DropDownList("StatusAdopcjiId", statusAdopcji, null, new { @class = "form-select" })
        </div>

        <button type="submit" class="btn btn-primary" onclick="return confirm('Czy na pewno chcesz edytować?');">Edytuj</button>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć?');" asp-action="Delete" asp-controller="HistoriaAdopcji">Usuń</button>
    </form>
</div>
