@model SchroniskoWebowka.Models.UpdateHistoriaAdopcjiViewModel
@{
    var piesRasy = ViewBag.PiesRasy as SelectList;
    var adoptujacy = ViewBag.Adoptujacy as SelectList;
}
<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="HistoriaAdopicjiId" readonly>
    </div>
    <select asp-for="PiesId" asp-items="piesRasy" disabled>
        <option value="">Wybierz psa do adopcji</option>
    </select>

    <select asp-for="AdoptujacyId" asp-items="adoptujacy" disabled>
        <option value="">Wybierz nowego właściciela</option>
    </select>

    <div class="mb-3">
        <label for="" class="form-label">Data dokonania adopcji</label>
        <input type="date" class="form-control" asp-for="HistoriaAdopicjiData">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Opłata</label>
        <input type="text" class="form-control" asp-for="HistoriaAdopicjiOplata">
    </div>
    @Html.DropDownList("StatusAdopcjiId", ViewBag.StatusAdopcji as SelectList, null, new { @value = Model.StatusAdopcjiId })
    <button type="submit" class="btn btn-primary" onclick="return confirm('Czy na pewno chcesz edytować?');">Edit</button>
    <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć?');" asp-action="Delete" asp-controller="HistoriaAdopcji">Usuń</button>
</form>